<div id="<%= dom_id enderecousuario %>">
  <p>
    <strong>Customerid:</strong>
    <%= enderecousuario.customerID %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= enderecousuario.logradouro %>
  </p>

  <p>
    <strong>State:</strong>
    <%= enderecousuario.state %>
  </p>

  <p>
    <strong>State alias:</strong>
    <%= enderecousuario.state_alias %>
  </p>

</div>
