<%= form_with(model: enderecousuario) do |form| %>
  <% if enderecousuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(enderecousuario.errors.count, "error") %> prohibited this enderecousuario from being saved:</h2>

      <ul>
        <% enderecousuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customerID, style: "display: block" %>
    <%= form.number_field :customerID %>
  </div>

  <div>
    <%= form.label :logradouro, style: "display: block" %>
    <%= form.text_field :logradouro %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :state_alias, style: "display: block" %>
    <%= form.text_field :state_alias %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
