<p style="color: green"><%= notice %></p>

<%= render @enderecousuario %>

<div>
  <%= link_to "Edit this enderecousuario", edit_enderecousuario_path(@enderecousuario) %> |
  <%= link_to "Back to enderecousuarios", enderecousuarios_path %>

  <%= button_to "Destroy this enderecousuario", @enderecousuario, method: :delete %>
</div>
