<div id="<%= dom_id usuario %>">
  <p>
    <strong>Customerid:</strong>
    <%= usuario.customerID %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= usuario.customer_name %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= usuario.data_nascimento %>
  </p>

  <p>
    <strong>Primary email address:</strong>
    <%= usuario.primary_email_address %>
  </p>

</div>
